/* example of step two in the lesson/video */
body{
    background-color: white;
}
@media(min-width: 400px){
    body{
        background-color: green;
    }
}
@media(min-height: 400px){
    body{
        background-color: turquoise;
    }
}
@media(min-width: 700px){
    body{
        background-color: yellow;
    }
}
@media(min-width: 700px) and (min-height: 700px){
    body{
        background-color: green;
    }
}
@media(min-width: 1000px){
    body{
        background-color:purple;
    }
}
@media(min-width: 1000px) and (max-height: 500px){
    body{
        background-color: red;
    }
}