<h2>New</h2>

<form action="/queries" method="post">
  <label>Title</label>
  <input type="text" placeholder="title" name="title">

  <label>Body</label>
  <input type="text" placeholder="body" name="body">

  <input type="submit" value="New">
</form>