<h1>Account Type: {{account.accountType}}</h1>
<h2>Balance: {{account.currentBalance}}</h2>

<form action="" method="POST">
    <label for="amount">Amount</label>
    <input id="amount" name="amount" type="number">
    <button>Withdraw</button>
    <button>Deposit</button>
</form>