<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Code Queries</title>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <script src="/assets/js/app.js" charset="utf-8"></script>
  </head>
  <body>
    <h1><a href="/">Code Queries</a></h1>
    {{{body}}}
  </body>
</html>
