<h1>{{ user.name }}</h1>
<h2>Accounts</h2>
<ul>
  {{#each accounts }}
  <li>
    <a href="/accounts/{{_id}}">{{name}}</a>
  </li>
  {{/each}}
</ul>

<h1>New Account</h1>
<form action="/accounts" method="POST">

  <label for="name">Name</label>
  <input type="text" name="name" value="" />

  <label for="name">Balance</label>
  <input type="number" name="balance" value="" />

  <label for="name">Is Active</label>
  <input type="checkbox" name="isActive" value="true" />

  <input type="hidden" name="userId" value="{{ user._id }}" />

  <input type="submit" value="New" />
</form>

<h2>
  <a href="/users">Users</a>
<h2>
