
@import url(https://fonts.googleapis.com/css?family=Irish+Grover);


body {
  font-family: "Irish Grover", Papyrus, fantasy, cursive;
  text-align: center;
  color: #7C2A30;
}

nav, form {
  padding: 15px;
  background-color: #D8AE48;
  border-radius: 0 40px 0 40px;
}

footer {
  border-top: 4px solid #7C2A30;
  margin: 1em;
  padding: 1em;
}

form {
  border-radius: 40px 0 40px 0;
  width: 50%;
  margin: 0 auto;
}
h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

.student {
  display: inline-block;
  background-color: #D8AE48;
  width: 350px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 10px solid black;
  border-radius: 10%;
}

.house {
  display: inline-block;
}

.house img {
  display: block;
}

img {
  border-radius: 40%;
  height: 300px;
}
