<form>
    <input type="text" name="firstNumber" id="">
    <input type="text" name="secondNumber" id="">
    <br>
    <br>
    <input type="submit" value="add" onclick="add()">
    <input type="submit" value="subtract" onclick="subtract()">
    <input type="submit" value="multiply" onclick="multiply()">
    <input type="submit" value="divide" onclick="divide()">
    <input type="submit" value="list numbers" onclick="listNumbers()">

</form>
<script>
    function add() {
        document.querySelector('form').action = "add"
    }
    function subtract() {
        document.querySelector('form').action = "subtract"
    }
    function multiply() {
        document.querySelector('form').action = "multiply"
    }
    function divide() {
        document.querySelector('form').action = "divide"
    }
    function listNumbers() {
        document.querySelector('form').action = "list"
    }
</script>